

<div class="ajouter">
    <div class="nouvelleBouteille" vertical layout>
    <div class="form_champ_ajout">
    <label for="cellier_id">Nom du cellier:</label>
        <select class="form_ajout_input" id="cellier_id" name="cellier" aria-label="Nom de cellier">
            {% for cellier in celliers %}
                <option value="{{ cellier.id }}" {% if cellier.id == cellier_preferentiel %} selected {% endif %}>{{ cellier.nom }}</option>
            {% endfor %}
        </select>
    </div>
        
        <div class="form_champ_ajout">
        <label for="recherche">Recherche:</label>
        <input class="form_ajout_input" id="recherche" type="text" name="nom_bouteille" placeholder="Mouton Cadet Bordeaux
" aria-label="Recherche">
        </div>
        <button class="btn_action" name="entrerBouteillePersonnalisee">Entrer une bouteille personnalisée</button>
        
        <ul class="listeAutoComplete">
            
        </ul>
        <div class="conteneur_details conteneur_details_cache">
            <div class="form_champ_ajout">
                <label for="nom">Nom:</label>
                <input id="nom" class="form_connexion_input nom_bouteille" data-id="" name="nom" value="{{ bouteille.nom }}" placeholder="Cabernet Sauvignon Élevé en fût de bourbon Private Selection Robert Mondavi" aria-label="Nom">

    <p class="erreur_champ erreur_nom_bouteille">{{ erreurs.nom }}</p>


<div class="form_champ_ajout">
    <label for="quantite">Quantité:</label>
    <input id="quantite" class="form_ajout_input" name="quantite" value="1" placeholder="Quantité" aria-label="Quantité">

        <p class="erreur_champ erreur_quantite">{{ erreurs.quantite }}</p>

</div>

<div class="form_champ_ajout">
    <label for="pays_id">Pays:</label>
  <select id="pays_id" class="form_ajout_input" name="pays" aria-label="Pays">
    <option value="" disabled selected>Choisissez un pays</option>
    {% for unPays in pays %}
        <option value="{{ unPays.id }}">{{ unPays.pays }}</option>
    {% endfor %}
</select>

</div>

<div class="form_champ_ajout">
    <label for="type_id">Type:</label>
    <select id="type_id" class="form_ajout_input" name="type" aria-label="Type">
     <option value="" disabled selected>Choisissez un type de vin</option>
        {% for type in types %}
            <option value="{{ type.type }}">{{ type.type }}</option>
        {% endfor %}
    </select>
        <p class="erreur_champ erreur_type">{{ erreurs.type }}</p>
</div>

<div class="form_champ_ajout">
    <label for="millesime">Millésime:</label>
    <input id="millesime" class="form_ajout_input" name="millesime" value="{{ bouteille.millesime }}" placeholder="2018" aria-label="Millésime">
</div>

<div class="form_champ_ajout">
    <label for="appellation">Appellation:</label>
    <input id="appellation" class="form_ajout_input" name="appellation" value="{{ bouteille.appellation }}" placeholder="Bordeaux" aria-label="Appellation">
</div>

<div class="form_champ_ajout">
    <label for="format">Format:</label>
    <input id="format" class="form_ajout_input" name="format" value="{{ bouteille.format }}" placeholder="750ml" aria-label="Format">
</div>

<div class="form_champ_ajout">
    <label for="cepage">Cépage(s):</label>
    <input id="cepage" class="form_ajout_input" name="cepage" value="{{ bouteille.cepage }}" placeholder="Merlot" aria-label="Cépage(s)">
</div>

<div class="form_champ_ajout">
    <label for="particularite">Particularité:</label>
    <input id="particularite" class="form_ajout_input" name="particularite" value="{{ bouteille.particularite }}" placeholder="Biologique" aria-label="Particularité">
</div>

<div class="form_champ_ajout">
    <label for="degreAlcool">Degré d'alcool:</label>
    <input id="degreAlcool" class="form_ajout_input" name="degreAlcool" value="{{ bouteille.degreAlcool }}" placeholder="13%" aria-label="Degré d'alcool">
</div>

<div class="form_champ_ajout">
    <label for="origine">Origine:</label>
    <input id="origine" class="form_ajout_input" name="origine" value="{{ bouteille.origine }}" placeholder="Californie, États-Unis" aria-label="Origine">
</div>

<div class="form_champ_ajout">
    <label for="producteur">Producteur:</label>
    <input id="producteur" class="form_ajout_input" name="producteur" value="{{ bouteille.producteur }}" placeholder="
Robert Mondavi Private Selection" aria-label="Producteur">
</div>

<div class="form_champ_ajout">
    <label for="prix">Prix:</label>
    <input id="prix" class="form_ajout_input" name="prix" value="{{ bouteille.prix_saq }}" placeholder="22,95" aria-label="Prix">
        <p class="erreur_champ erreur_prix">{{ erreurs.prix }}</p>
</div>

<div class="form_champ_ajout">
    <label for="region">Région:</label>
    <input id="region" class="form_ajout_input" name="region" value="{{ bouteille.region }}" placeholder="Californie - Monterey
" aria-label="Région">
</div>

<div class="form_champ_ajout">
    <label for="sucre">Taux de sucre:</label>
    <input id="sucre" class="form_ajout_input" name="sucre" value="{{ bouteille.sucre }}" placeholder="
6 g/L" aria-label="Taux de sucre">
</div>

<input id="cellier_id" type="hidden" value="{{ cellier_id }}">

<button  class="btn_action"  name="ajouterBouteilleCellier">Ajouter la bouteille</button>
        </div>
    </div>
</div>
</div>