<div class="cellier contenu">
    <div class="conteneur_celliers">

    <div class="bouton_ajout_cellier_top">
    <a href="cellier?action=n&cellier_id={{ cellier.id }}">Ajouter une bouteille</a>
    </div>
    <div class="bouton_ajout_cellier_top">
    <a href="cellier?action=q&cellier_id={{ cellier.id }}">Modifier le cellier</a>
    </div>
    <button class="confirmer bouton_supprimer_cellier" data-href="cellier?action=s&cellier_id={{ cellier.id }}">Supprimer le cellier</button>
    {% for bouteille in bouteilles %}

    <section class="bouteille carte_bouteille {% if bouteille.type == "Rouge" %} bouteille_rouge {% elseif bouteille.type ==  "Rosé"%} bouteille_rose {% elseif bouteille.type == "Blanc"%} bouteille_blanche {% endif %}" data-quantite="">
    <div class="carte_bouteille_top">
        <div class="image_bouteille">
            <img class="img_bouteille" {% if bouteille.image_url %} src="{{ bouteille.image_url }}" {% else %} src="assets/img/bouteille_generique.png" {% endif %}>
        </div>
        <div  class="texte_bouteille">
            <p class="bouteille_gros_texte">{{ bouteille.nom }}</p>
            <p class="bouteille_petit_texte">{{ bouteille.pays }} | {{ bouteille.type }} | {{ bouteille.format }}</p>
        </div>
    </div>
        <div class="options description carte_bouteille_bottom" data-id="{{ bouteille.id_bouteille_cellier }} ">
        <div class="icones_gauche">
        <svg  class='btnAjouter' width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M17 0C26.3095 0 34 7.5369 34 16.958C34 26.2446 26.3095 33.916 17 33.916C7.55556 33.916 0 26.2446 0 16.958C0 7.5369 7.55556 0 17 0ZM19.5635 25.1679C19.5635 28.5325 14.4365 28.5325 14.4365 25.1679V19.5152H8.76984C5.39683 19.5152 5.39683 14.4009 8.76984 14.4009H14.4365V8.74819C14.4365 5.3835 19.5635 5.3835 19.5635 8.74819V14.4009H25.2302C28.6032 14.4009 28.6032 19.5152 25.2302 19.5152H19.5635V25.1679Z"/>
</svg>

            <p class="quantite bouteille_petit_texte"><span>{{ bouteille.quantite }}</span></p>
            <svg class='btnBoire {% if bouteille.quantite == 0 %} disabled-svg {% endif %}' width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17 0C7.609 0 0 7.609 0 17C0 26.391 7.609 34 17 34C26.391 34 34 26.391 34 17C34 7.609 26.391 0 17 0ZM25.5052 18.5536H8.49481C7.63322 18.5536 6.94118 17.8581 6.94118 17C6.94118 16.1422 7.63322 15.4502 8.49481 15.4502H25.5052C26.3668 15.4502 27.0588 16.1422 27.0588 17C27.0588 17.8581 26.3633 18.5536 25.5052 18.5536Z"/>
</svg>
        </div>
        <div class="icone_droite">
            <a href="cellier?action=d&bouteille_id={{ bouteille.id_bouteille_cellier }}"><svg width="34" height="35" viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M17 0.00341797C26.3743 0.00341797 34 7.62913 34 17.0034C34 26.3777 26.3743 34.0034 17 34.0034C7.62571 34.0034 0 26.3777 0 17.0034C0 7.62913 7.62571 0.00341797 17 0.00341797ZM19.7292 12.6724H15.4703L13.4628 22.1569C13.3859 22.5324 13.3283 22.8813 13.2899 23.2035C13.2514 23.5258 13.2322 23.8214 13.2322 24.092C13.2322 24.7173 13.3135 25.251 13.4776 25.6944C13.6417 26.1379 13.8649 26.503 14.1487 26.7913C14.4326 27.0795 14.7681 27.2924 15.1525 27.4269C15.5368 27.56 15.9507 27.628 16.3942 27.628C16.7786 27.628 17.1585 27.5674 17.5339 27.4476C17.9094 27.3279 18.2465 27.1416 18.5451 26.8918C18.8422 26.642 19.0905 26.3256 19.2886 25.9472C19.4852 25.5673 19.6035 25.112 19.642 24.5827C19.5355 24.63 19.4202 24.6729 19.296 24.7129C19.1704 24.7513 18.9679 24.7705 18.6885 24.7705C18.276 24.7705 17.973 24.6907 17.7793 24.5325C17.5872 24.3729 17.4911 24.0875 17.4911 23.6736C17.4911 23.5184 17.4985 23.3632 17.5133 23.2035C17.5266 23.0454 17.5576 22.8828 17.6064 22.7202L19.7292 12.6724ZM18.4002 6.3778C18.0735 6.3778 17.7675 6.43991 17.4837 6.56556C17.1999 6.69122 16.9515 6.86269 16.7401 7.07851C16.5287 7.29434 16.3632 7.54419 16.2419 7.8295C16.1222 8.11332 16.0616 8.41781 16.0616 8.74598C16.0616 9.07415 16.1222 9.37868 16.2419 9.66251C16.3632 9.94633 16.5287 10.1917 16.7401 10.3987C16.9515 10.6056 17.1999 10.7697 17.4837 10.8895C17.7675 11.0092 18.0735 11.0698 18.4002 11.0698C18.7269 11.0698 19.0329 11.0092 19.3167 10.8895C19.6005 10.7697 19.8519 10.6056 20.0677 10.3987C20.2835 10.1917 20.455 9.94633 20.5807 9.66251C20.7048 9.37868 20.7684 9.07415 20.7684 8.74598C20.7684 8.41781 20.7048 8.11332 20.5807 7.8295C20.455 7.54419 20.2835 7.29434 20.0677 7.07851C19.8519 6.86269 19.6005 6.69122 19.3167 6.56556C19.0329 6.43991 18.7269 6.3778 18.4002 6.3778Z" fill="white" fill-opacity="0.55"/>
</svg></a>
    </div>
    </div></section>{% else %}<p">Aucune bouteille dans ce cellier</p>{% endfor %}
</div>
</div>

{{ include("/Cellier/modaleSuppression.twig") }}