<div class="modifier">

    <div class="modificationBouteillePersonnalisee" vertical layout>

            <div>

                <label for="nom">Nom</label>
                <input span data-id="{{ bouteille.id_bouteille_catalogue }}" class="nom_bouteille" value="{{ bouteille.nom }}"> </input> <span class="erreur_champ erreur_nom_bouteille"></span>
                <br>
                <p>Quantite dans le cellier : <input type="text" name="quantite" value="{{ bouteille.quantite }}"><span class="erreur_champ erreur_quantite"></span></p>
                <br>
                <br>
                <label for="pays">Pays</label>
                <select id="pays_id" name="pays">
                {% for unPays in pays %}
                    <option value="{{ unPays.id }}" {% if bouteille.idpays == unPays.id %} selected {% endif %}>{{ unPays.pays }}</option>
                {% endfor %}
                </select>
                <br>
                <br>
                <label for="type">Type</label>
                <select id="type_id" name="type">
                {% for type in types %}
                    <option value="{{ type.type }}"  {% if bouteille.type == type.type %} selected {% endif %}>{{ type.type }}</option>
                {% endfor %}
                </select>
                <br>
                <label for="millesime">Millésime</label>
                <input name="millesime" value="{{ bouteille.annee }}"></input>
                <br>
                <br>
                <label for="appellation">Appellation</label>
                <input name="appellation" value="{{ bouteille.appellation }}"></input>
                <br>  
                <label for="format">Format</label>
                <input name="format" value="{{ bouteille.format }}"></input>
                <br>
                <label for="cepage">Cépage(s)</label>
                <input name="cepage" value="{{ bouteille.cepage }}"></input>
                <br>
                <label for="particularite">Particularité</label>
                <input name="particularite" value="{{ bouteille.particularite }}"></input>
                <br>
                <label for="degreAlcool">Degré d'alcool</label>
                <input name="degreAlcool" value="{{ bouteille.degreAlcool }}"></input>
                <br>
                <label for="origine">Origine</label>
                <input name="origine" value="{{ bouteille.origine }}"></input>
                <br>
                <label for="producteur">Producteur</label>
                <input name="producteur" value="{{ bouteille.producteur }}"></input>
                <br>
                <label for="prix">Prix</label>
                <input name="prix" value="{{ bouteille.prix_saq }}"></input>
                <br>
                <label for="region">Région</label>
                <input name="region" value="{{ bouteille.region }}"></input>
                <br>
                <label for="sucre">Taux de sucre</label>
                <input name="sucre" value="{{ bouteille.tauxSucre }}"></input>
                <br>

                <input id="bouteille_id" type="hidden" data-id-bouteille-cellier="{{ bouteille.id_bouteille_cellier }}">
            </div>
            <button name="modifierBouteillePersonnalisee">Modifier la bouteille</button>
            <li><a href="accueil">Annuler</a></li>
        </div>
    </div>
</div>
