<!-- Template Inscription -->

<form class="form_connexion" name="frmInscription" method="POST" action="validationInscription">	

	<!-- Champ nom -->	
<input class="form_connexion_input" minlength="2" aria-label="Votre nom" type="text" id="nom" placeholder="Votre nom" name="nom" value="{{ membre.nom }}">

	<div class="error">
		<span>{{ erreurs.nom }}</span>
	</div>

	<!-- Champ prénom -->	
<input class="form_connexion_input" minlength="2" aria-label="Votre prénom" type="text" id="prenom" placeholder="Votre prénom" name="prenom" value="{{ membre.prenom }}">

	<div class="error">
		<span>{{ erreurs.prenom }}</span>
	</div>

	<!-- Champ courriel -->	
	<input class="form_connexion_input" aria-label="Votre adresse courriel" type="email" id="courriel" placeholder="Votre adresse courriel" name="courriel" value="{{ membre.courriel }}">
	<div class="error">
		<span>{{ erreurs.courriel }}</span>
	</div>	

	<!-- Champ mot de passe -->	
<input class="form_connexion_input" minlength="10" aria-label="Votre mot de passe" type="password" id="mdp" placeholder="Votre mot de passe" name="mdp" value="">

    <div class="error">
        <span>{{ erreurs.mdp }}</span>
    </div>

	<!-- Champ confirmation de mot de passe -->	
<input class="form_connexion_input" minlength="10" aria-label="Votre mot de passe" type="password" id="mdp_renouveler" placeholder="Confirmez votre mot de passe" name="renouvelermdp" value="">

    <div class="error">
        <span>{{ erreurs.renouvelermdp }}</span>
    </div>	
	
	<input type="hidden" name="idprofil" value="membre">

	<input class="btn btn_inscription" type="submit" value="S'inscrire">

	<div class="option_alternative">
		<span>Vous avez un compte?
			<a href="connecter">Se connecter</a>
		</span>                            
	</div>

</form>

<!-- fin template Inscription -->
