<!-- Template Inscription -->

<form class="form_connexion" name="frmInscription" method="POST" action="validationInscription">	


	<!-- Champ nom -->
	<div class="form_champ_inscription">	
	<label for="nom">Nom :</label>
<input class="form_inscription_input" minlength="2" aria-label="Votre nom" type="text" id="nom" placeholder="p. ex. Doe" name="nom" value="{{ membre.nom }}">

 {% if erreurs.nom != "" %}<div class="error">
	<span>{{ erreurs.nom }}</span>
</div>{% endif %}

	</div>

	

	<!-- Champ prénom -->	
	<div class="form_champ_inscription">
		<label for="prenom">Prénom :</label>
<input class="form_inscription_input" minlength="2" aria-label="Votre prénom" type="text" id="prenom" placeholder="p. ex. John" name="prenom" value="{{ membre.prenom }}">

	{% if erreurs.prenom != "" %}<div class="error">
		<span>{{ erreurs.prenom }}</span>
	</div>{% endif %}
	</div>

	<!-- Champ courriel -->	
	<div class="form_champ_inscription">
	<label for="courriel">Courriel :</label>
	<input class="form_inscription_input" aria-label="Votre adresse courriel" type="email" id="courriel" placeholder="p. ex. JohnDoe@gmail.com" name="courriel" value="{{ membre.courriel }}">

	{% if erreurs.courriel != "" %}<div class="error">
		<span>{{ erreurs.courriel }}</span>
	</div>{% endif %}
	</div>

	<!-- Champ mot de passe -->	
	<div class="form_champ_inscription">
	<label for="mdp">Mot de passe :</label>
<input class="form_inscription_input" minlength="10" aria-label="Votre mot de passe" type="password" id="mdp" placeholder="p. ex. Chat12345!" name="mdp" value="">

	{% if erreurs.mdp != "" %}<div class="error">
		<span>{{ erreurs.mdp }}</span>
	</div>{% endif %}
	</div>

	<!-- Champ confirmation de mot de passe -->	
	<div class="form_champ_inscription">
		<label for="mdp_renouveler">Confirmation du mot de passe:</label>
<input class="form_inscription_input" minlength="10" aria-label="Votre mot de passe" type="password" id="mdp_renouveler" placeholder="p. ex. Chat12345!" name="renouvelermdp" value="">

		{% if erreurs.renouvelermdp != "" %}<div class="error">
		<span>{{ erreurs.renouvelermdp }}</span>
	</div>{% endif %}
	</div>
	
	<input type="hidden" name="idprofil" value="membre">

	<input class="btn_action" type="submit" value="S'inscrire">

	<div class="option_alternative">
		<span>Vous avez un compte ?
			<a href="connecter"> Se connecter</a>
		</span>                            
	</div>

</form>

<!-- fin template Inscription -->
