<!-- Template Modification Membre -->
{% if oUtilConn %}

	<section >
		<form class="form_modification_membre" method="POST" action="">

			<div class="form_champ_modification">
			<label for="nom">Nom :</label>
			<input id="nom" class="form_modification_membre_input" name="nom" value="{{ membre.nom }}" placeholder="Votre nom">
			
			 {% if erreurs.nom != "" %}<div class="error">
				<span>{{ erreurs.nom }}</span>
			</div>{% endif %}

			</div>

			<div class="form_champ_modification">
			<label for="prenom">Prenom :</label>
			<input id="prenom" class="form_modification_membre_input" name="prenom" value="{{ membre.prenom }}" placeholder="Votre prenom">
			 {% if erreurs.prenom != "" %}<div class="error">
				<span>{{ erreurs.prenom }}</span>
			</div>{% endif %}
			</div>


			<div class="form_champ_modification">
			<label for="courriel">Courriel :</label>
			<input id="courriel" class="form_modification_membre_input" name="courriel" value="{{ membre.courriel }}" placeholder="Votre adresse mail">
			{% if erreurs.courriel != "" %}<div class="error">
				<span>{{ erreurs.courriel }}</span>
			</div>{% endif %}
			</div>



			<input type="hidden" name="mdp" value="{{ membre.mdp }}">
			<input type="hidden" name="idprofil" value="membre">
			<input type="hidden" name="id_membre" value="{{ membre.id_membre }}">

			<input class="btn_action" type="submit" value="Envoyer">

		</form>
	</section>

{% else %}
	<br><br>
	<br>
	<br>

	<p>Connectez-vous pour modifier votre profil</p>
	<br>
	<br>
	<br>
	<br>
{% endif %}

<!-- fin template Modification membre -->

