<!-- Template Profil -->

{% if oUtilConn %}


	<div>
		<h2>Informations de {{ membre.prenom }} {{ membre.nom }}</h2>
        <p>{{ membre.courriel }}</p>
        <p> membre depuis le {{ oUtilConn.date_creation }}</p>
        <p> {{ membre.idprofil }}</p>


		<p><a href="modifierMembre" style="color:white">Modifier mes coordonnées</a></p>
        <p><a href="deconnecter" style="color:white">Me déconnecter</a></p>
        <p><a href="supprimerCompte" style="color:white">Supprimer mon compte</a></p>
	
    <br><br>
    
		<h2>Statistiques</h2>
        <p>Nombre de celliers : </p>
        <p>Nombre de bouteilles :</p>
       

</div>

	
	

		 <br>





{% endif %}</section>

<!-- fin template Profil -->
